# Python
__pycache__/
*.py[cod]
.venv/

# Node
node_modules/
dist/
*.log

# Env / Secrets
.env
.env.local
.env.*.local
.streamlit/secrets.toml

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/init.sh

# OS
.DS_Store
streamlit-app/data/
streamlit-app/static/
